.grid {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 50px;
  width: 800px;
  border: 2px solid red;
}

.grid-square {
  flex: auto;
  width: 50px;
  aspect-ratio: 1/1;
  border: 1px solid blue;
}

