.grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 50px;
  width: 800px;
}

.grid-square {
  flex: auto;
  width: 50px;
  border: 1px dashed black;
}

.hover {
  background-color: red;;
}

